*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  background-color: #1e1c1d;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.main{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.board{
  width: 350px;
  height: 600px;
  background-color: #282627;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  color: #e9e9e9;
}
.board .content{
  width: 100%;
  height: 75%;
  /* background-color: #934545; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
}
.board .content::-webkit-scrollbar {
  display: none; /* Webkit-based browsers */
}

.board .content .task{
  width: 100%;
  /* height: 80px; */
  background-color: #725CAD;
  position: relative;
  padding: 0px 5px 25px 5px;
  border-radius: 8px;
  color: #e9e9e9;
}
.board .content .task h3{
  font-weight: 500;
}
.board .content .task .task-time{
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #dadada;
  
}


.board .input-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.board .input-field .input{
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}

.board .input-field .add-btn{
  width: 100%;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #725CAD;
  cursor: pointer;
  border: none;
  color: #e9e9e9;
}

.board .input-field .add-btn:active {
  background-color: #5d42a7;
}